@import 'core-colors';
@import 'core-globals';

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  width: 100vw;

  .app-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden scroll;
    align-items: center;

    header {
      position: sticky;
      top: 0;
      z-index: $z-index-over;

      animation: enhance-header linear both;
      animation-timeline: scroll(nearest block);
      animation-range: 0 50%;

      @keyframes enhance-header {
        to {
          backdrop-filter: blur(5px);
          opacity: 0.8;
        }
      }
    }
  }
}
