<div nxModalContent class="form-data">
  <form [formGroup]="form">
    <div nxLayout="grid">
      <div nxRow>
        <div nxCol="12">
          <h1>Sdc Test Page</h1>
        </div>
      </div>

      <div nxRow>
        <div nxCol="12">
          <nx-formfield [nxLabel]="'Label.Squads' | translate">
            <nx-dropdown name="allLobs" formControlName="squadId">
              <nx-dropdown-item *ngFor="let item of squads" [nxValue]="item.id">
                {{ item.name }}
              </nx-dropdown-item>
            </nx-dropdown>
          </nx-formfield>
          <h2 *ngIf="squadInfo?.coverage">Coverage: {{ squadInfo.coverage }}</h2>
        </div>
        <div nxCol="12">
          <ui-compliance-bar-card *ngFor="let component of squadInfo?.components" [component]="component"></ui-compliance-bar-card>
        </div>
      </div>
    </div>
  </form>
</div>
