@import 'core-colors';

.departments-summary {
  background-color: $background-color-2;

  .summary-charts,
  .language-distribution {
    align-items: center;
    height: 350px;
    width: 100%;
  }

  .language-distribution {
    position: relative;
    display: block;

    .toggle-chart {
      bottom: 15px;
      position: absolute;
      right: 15px;
    }
  }

  .summary-charts {
    display: flex;

    .summary-bar-chart {
      padding: 0 25px;
      width: 60%;

      .title {
        text-align: center;
      }
    }

    .summary-pie-chart {
      width: 40%;
    }
  }
}
