@import 'core-colors';

.departments-summary {
  background-color: $background-color-2;
  border-radius: 10px;

  .summary-charts,
  .language-distribution {
    align-items: center;
    min-height: 350px;
    width: 100%;
  }

  .language-distribution {
    display: flex;
    position: relative;

    .actual-language-distribution {
      padding-top: 10px;
    }

    .historical-language-distribution {
      height: 100%;
      width: 100%;
    }

    .no-data {
      width: 100%;
    }
  }

  .summary-charts {
    display: flex;
    flex-wrap: wrap;

    .summary-bar-chart {
      flex-grow: 1;
      padding: 0 25px;

      .title {
        text-align: center;
      }
    }

    .summary-pie-chart {
      max-width: 450px;
      min-width: 300px;
      width: 100%;
    }
  }
}
