<div *ngIf="department" class="departments-summary">
  <nx-tab-group class="tiny-tabs" (selectedIndexChange)="onTabChage($event)">
    <nx-tab [label]="'Label.DepartmentSumary' | translate">
      <div class="summary-charts">
        <div class="summary-pie-chart sdc-center">
          <sdc-coverage-chart
            [animation]="true"
            [backgroundColor]="BACKGROUND_DEPARTMENT_COLOR"
            [coverage]="department"
            [size]="300"
          ></sdc-coverage-chart>
        </div>
        <article class="summary-bar-chart">
          <header class="title">
            <h4 nxHeadline="subsection-xsmall" class="nx-font-weight-bold">{{ 'Label.ComplianceState' | translate }}</h4>
          </header>
          <section class="chart">
            <sdc-horizontal-bar-chart
              [name]="'Label.ComplianceState' | translate"
              [config]="chartConfig"
              [size]="{ height: 250 }"
            ></sdc-horizontal-bar-chart>
          </section>
        </article>
      </div>
    </nx-tab>
    <nx-tab [label]="'Label.ComponentLanguageDistribution' | translate">
      <section class="language-distribution">
        <ng-container *ngIf="departmentSummaryData.languageDistribution; else noData">
          <sdc-time-evolution-multichart
            [data]="departmentSummaryData.languageDistribution"
            [size]="{ height: 330 }"
          ></sdc-time-evolution-multichart>
        </ng-container>
      </section>
    </nx-tab>
  </nx-tab-group>
</div>

<ng-template #noData>
  <sdc-no-data></sdc-no-data>
</ng-template>
