@import 'colors';
@import 'core-colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  .metric-state#{custom-property-color($name)} {
    color: $value;
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

.metric {
  display: flex;
  padding: 5px;
  position: relative;
  text-align: justify;
  white-space: normal;
  width: 100%;

  &.selected {
    background-color: $background-color-1;
    border-radius: 4px;
    outline-color: darken($background-color-1, 10%);
    outline-style: auto;
  }

  &:hover {
    outline-color: darken($background-color-1, 25%);
    outline-style: auto;
    cursor: pointer;
  }

  .blocker {
    background-color: $state-critical;
    border-radius: 4px 0 0 4px;
    height: 100%;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 12px;
  }

  .metric-info {
    display: inline-grid;
    width: 100%;

    .extra-info {
      position: relative;
      padding-right: 25px;

      em {
        position: absolute;
        right: 10px;
      }

      em:hover {
        color: $primary-base-color;
      }
    }

    .metric-name {
      font-size: 14px;
      font-weight: bold;
    }
  }

  .metric-state {
    margin-top: auto;
    margin-bottom: auto;
  }
}
