<div class="metric" [ngClass]="{ selected: selected }" (click)="onClick()">
  @if (analysis.blocker) {
  <div class="blocker"></div>
  }

  <div class="metric-state {{ style }}">
    <em [class]="icon"></em>
  </div>
  <div class="metric-info nx-margin-left-2xs" metric-info>
    <div class="metric-name sdc-cut-text">{{ analysis.metric.name }}</div>
    <div class="extra-info sdc-cut-text">
      {{ analysis.analysisValues.metricValue || '-' }}
      <em [class]="analysisIcon"></em>
    </div>
  </div>
</div>
