<div id="body-content" class="summary-content nx-margin-y-2xs">
  <div [ngClass]="{ 'width-50': squadsData?.squad, 'width-0': !squadsData?.squad }" class="summary width-50 nx-margin-right-3xs">
    <ng-container *ngIf="squadsData">
      <div *ngIf="squadsData.squad" class="nx-margin-bottom-2xs">
        <sdc-squad-summary
          [components]="squadsData.components || []"
          [squad]="squadsData.squad"
          (clickStateCount)="onClickStateCount($event)"
        ></sdc-squad-summary>
      </div>
      <div *ngIf="componentsInView.length" class="compliance-cards-header nx-margin-bottom-2xs">
        <h5 nxHeadline="subsection-xsmall" class="title">{{ 'Label.MyApplications' | translate }}</h5>
        <nx-link>
          <a (click)="showAll()">{{ 'Label.ShowAll' | translate }}</a>
        </nx-link>
      </div>
      <sdc-compliance-bar-cards [compliances]="componentsInView" (clickLink)="complianceClicked($event)"></sdc-compliance-bar-cards>
    </ng-container>
  </div>
  <div [ngClass]="{ 'width-50': squadsData?.squad, 'width-100': !squadsData?.squad }" class="coverages nx-margin-left-3xs">
    <sdc-coverages
      [filter]="squadsData?.filter"
      [coverages]="squadsData?.squads"
      [selected]="squadsData?.squad?.id"
      [title]="'Label.OtherSquads' | translate"
      (searchCoverageChanged)="onSearchSquadChanged($event)"
      (selectCoverage)="onClickSquad($event)"
    ></sdc-coverages>
  </div>
</div>
