@if (squadsData) {
  <div class="summary-content nx-margin-y-2xs">
    <div class="nx-margin-x-3xs" [ngClass]="{ 'nx-margin-bottom-3xs width-50': squadsData.squad, 'width-0': !squadsData.squad }">
      @if (squadsData.squad) {
        <div class="nx-margin-bottom-2xs">
          <sdc-squad-summary
            [components]="squadsData.components || []"
            [squad]="squadsData.squad"
            (clickStateCount)="onClickStateCount($event)"
          />
        </div>
      }
      @if (worstComponents.length) {
        <div class="compliance-cards-header nx-margin-bottom-2xs">
          <h4 nxHeadline="subsection-xsmall" class="nx-font-weight-bold">{{ 'Label.MyApplications' | translate }}</h4>
          <nx-link>
            <a (click)="showAll()">{{ 'Label.ShowAll' | translate }}</a>
          </nx-link>
        </div>
      }
      <sdc-compliance-bar-cards
        [animation]="false"
        [components]="worstComponents"
        [showSquad]="false"
        (clickLink)="complianceClicked($event)"
        (clickDepartment)="departmentClicked($event)"
      />
    </div>
    <div
      class="coverages"
      [ngClass]="{ 'nx-margin-bottom-3xs nx-margin-x-3xs width-50': squadsData.squad, 'no-data-loaded width-100': !squadsData.squad }"
    >
      <sdc-coverages
        [filter]="squadsData.filter"
        [coverages]="squadsData.squads"
        [selected]="squadsData.squad?.id"
        [title]="'Label.OtherSquads' | translate"
        (searchCoverageChanged)="onSearchSquadChanged($event)"
        (selectCoverage)="onClickSquad($event)"
      />
    </div>
  </div>
}
