.summary-content {
  display: flex;
  max-height: inherit;
  flex-wrap: wrap;

  .no-data-loaded {
    min-height: 700px;
  }

  .coverages {
    max-height: 805px;
  }

  .compliance-cards-header {
    align-items: center;
    display: flex;
    position: relative;

    nx-link {
      right: 0;
      position: absolute;
    }
  }
}

.width-0 {
  width: 0%;
}

.width-50 {
  flex: 1;
  min-width: 350px;
  transition:
    min-width 0.5s ease-in-out,
    width 0.5s ease-in-out;
}

.width-100 {
  min-width: 100%;
}
