$state-critical: var(--danger);
$state-risk: var(--warning);
$state-acceptable: var(--success);
$state-perfect: #006192;

$coverage-colors: (
  default: $state-perfect,
  critical: $state-critical,
  with_risk: $state-risk,
  acceptable: $state-acceptable,
  perfect: $state-perfect
);

$prefix-color: 'color--';

//Merges a variable name with $prefix-arrow-color
@function custom-property-color($name) {
  @return '.' + $prefix-color + $name;
}
