$grey-darker-color: var(--ui-06);
$grey-dark-color: var(--ui-05);
$grey-light-color: var(--ui-04);
$grey-lighter-color: var(--ui-02);

$primary-base-color: var(--hover-primary);

$state-red: var(--badge-vibrant-critical-background-color);
$state-green: var(--badge-vibrant-positive-background-color);
$state-orange: var(--badge-vibrant-negative-background-color);
$state-blue: var(--badge-vibrant-active-background-color);

$success-color: var(--warning);
$error-color: var(--danger);
$warn-color: var(--warning);

$backdrop-color: var(--shadow-small);

$background-color: var(--ui-01);
$background-color-1: #ebf2f6;
$background-color-2: var(--card-highlight-background-color);
