.sdc-tag {
  border: max(1px, 0.0625rem) solid;
  border-radius: 2em;
  display: inline-block;
  font-size: small;
  padding: 0 12px;
  transition: border-color 0.5s ease-in-out;
  white-space: nowrap;

  &.sdc-removable {
    padding-right: 5px;

    span {
      padding-right: 5px;
    }
  }

  &::before {
    content: '#';
    margin-right: 5px;
  }

  &.sdc-tag--error {
    background-color: var(--badge-critical-background-color);
    border-color: var(--badge-vibrant-critical-background-color);
    color: var(--badge-vibrant-critical-background-color);
  }

  &.sdc-tag--warning {
    background-color: var(--badge-negative-background-color);
    border-color: var(--badge-vibrant-negative-background-color);
    color: var(--badge-vibrant-negative-background-color);
  }

  &.sdc-tag--success {
    background-color: var(--badge-positive-background-color);
    border-color: var(--badge-vibrant-positive-background-color);
    color: var(--badge-vibrant-positive-background-color);
  }

  &.sdc-tag--info {
    background-color: var(--badge-active-background-color);
    border-color: var(--badge-vibrant-active-background-color);
    color: var(--badge-vibrant-active-background-color);
  }

  span:hover {
    text-decoration: underline;
  }

  &:hover {
    &.sdc-tag--error {
      border-color: var(--badge-critical-background-color);
    }

    &.sdc-tag--warning {
      border-color: var(--badge-negative-background-color);
    }

    &.sdc-tag--success {
      border-color: var(--badge-positive-background-color);
    }

    &.sdc-tag--info {
      border-color: var(--badge-active-background-color);
    }
  }

  &.sdc-tag--disabled {
    background-color: inherit;
    border-color: var(--disabled-01);
    color: var(--disabled-01);
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: inherit;
      border-color: var(--disabled-01);
      text-decoration: none;
    }
  }
}
