@import 'core-globals';

.sdc-search-content {
  backdrop-filter: blur(5px);
  border-radius: 4px;
  box-shadow: var(--shadow-small);
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;

  .sdc-search-form {
    padding: 16px 16px 0 16px;

    .sdc-search-input {
      width: 100%;

      &.inp-border {
        background: var(--ui-04);
        border-radius: 67px;
        padding: 2px;

        &:focus-within {
          background: linear-gradient(330.28deg, #2cfff2 0%, #1e78ff 30.73%, #ff54a6 55.73%, #ff6e1d 79.17%, #ff3e3e 100%);
        }

        &:hover {
          background: linear-gradient(330.28deg, #2cfff2 0%, #1e78ff 30.73%, #ff54a6 55.73%, #ff6e1d 79.17%, #ff3e3e 100%);
        }
      }

      input {
        font-size: 17px;
      }

      .input {
        text-align: center;
        padding: 15px;
        outline: none;
        border: double 0;
        border-radius: 67px;
        position: relative;
        box-sizing: border-box;
        display: block;
        width: 100%;
      }
    }

    .sdc-search-type {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin-top: 16px;
      width: 100%;

      .label-type {
        align-items: center;
        background: var(--ui-02);
        border-radius: 25px;
        cursor: pointer;
        padding: 4px 8px;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background: var(--ui-03);
        }
      }
    }
  }

  .sdc-search-result {
    border-radius: 8px;
    flex: 1;
    margin: 16px;
    overflow-x: hidden;
    overflow-y: auto;

    .sdc-search-result-item + .sdc-search-result-item {
      margin-top: 2px;
    }

    .sdc-search-result-item {
      align-items: center;
      background: var(--ui-03);
      color: var(--interactive-primary);
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      padding: 8px;
      transition:
        background-color 0.3s ease-in-out,
        opacity 0.7s,
        transform 0.7s;

      &:hover {
        background: var(--ui-04);
        color: var(--hover-primary);
      }

      .sdc-search-result-item-name {
        flex: 1;
        font-size: 1.4em;
        line-height: 1.4em;
      }

      @starting-style {
        max-height: 0;
        opacity: 0;
      }
    }
  }
}
