@import '../../shared/styles/colors';

.application-historic,
.application-coverages {
  ::ng-deep {
    .nx-expansion-panel__body {
      padding: 0;
    }

    .nx-expansion-panel__header-content {
      background-color: $grey-lighter-color;
      padding: 0 15px 0 15px;
      border-top: solid 1px $grey-light-color;

      .nx-expansion-panel__header-title {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.evolution-content {
  display: flex;

  .metrics {
    width: 270px;
  }

  .evolution-graph {
    width: 100%;

    .chart-header {
      background-color: $grey-lighter-color;
      padding: 8px;
    }
  }
}

.selected-date {
  font-size: 12px;
  font-weight: normal;
}
