@import 'core-colors';
@import 'core-globals';

.application-graph {
  position: relative;

  .chart-ops {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 15px;
    top: 0px;
    width: 30px;
    z-index: $z-index-bottom;

    .chart-op {
      cursor: pointer;
      margin-top: 10px;
      height: 25px;
      text-align: right;

      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}

.application-historic,
.application-coverages {
  ::ng-deep {
    .nx-expansion-panel__body {
      padding: 0;
    }

    .nx-expansion-panel__header-content {
      background-color: $grey-lighter-color;
      padding: 0 15px 0 15px;
      border-top: solid 1px $grey-light-color;

      .nx-expansion-panel__header-title {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.evolution-content {
  display: flex;

  .metrics {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
  }

  .evolution-graph {
    width: 100%;

    .chart-header {
      background-color: $grey-lighter-color;
      padding: 8px;
    }
  }
}

.selected-date {
  font-size: 12px;
  font-weight: normal;
}
