<div *ngIf="metricsData" id="body-content" class="nx-margin-y-2xs">
  <sdc-compliance-bar-card [compliance]="metricsData.compliance" [showMore]="false"></sdc-compliance-bar-card>
</div>
<div class="evolution-content">
  <div class="metrics nx-margin-right-2xs">
    <div
      *ngFor="let metric of metricsData?.metrics"
      [ngClass]="{ selected: selected && selected.id === metric.id }"
      class="metric cut-text"
      (click)="loadGraphData(metric)"
    >
      {{ metric.name }}
    </div>
  </div>
  <div *ngIf="selected" class="evolution-graph">
    <sdc-metric-time-evolution-chart [title]="selected.name" [values]="values"></sdc-metric-time-evolution-chart>
  </div>
</div>
