<div *ngIf="metricsData" class="nx-margin-y-2xs">
  <sdc-compliance-bar-card [compliance]="metricsData.compliance" [showMore]="false" [hideBorder]="true"></sdc-compliance-bar-card>
  <article class="application-historic nx-margin-y-2xs">
    <nx-accordion>
      <nx-expansion-panel (opened)="onOpenPanel()">
        <nx-expansion-panel-header>
          <nx-expansion-panel-title>
            <header>
              {{ 'Label.ApplicationHistory' | translate }}
              <span class="selected-date nx-margin-left-s"
                >{{ 'Label.SelectedDate' | translate }}: {{ metricsData.compliance.analysisDate | date }}</span
              >
            </header>
          </nx-expansion-panel-title>
        </nx-expansion-panel-header>
        <section class="history-component">
          <section class="application-graph nx-margin-top-2xs">
            <sdc-time-evolution-chart [config]="historicalChartConfig" [size]="{ height: 200 }"></sdc-time-evolution-chart>
          </section>
          <section class="chart-ops sdc-scrollable">
            <div
              class="chart-op"
              [nxTooltip]="'Tooltip.ComponentMetrics' | translate : { name: metricsData.compliance.name }"
              (click)="openMetricsCards()"
            >
              <em class="fa-solid fa-align-justify"></em>
            </div>
            <div
              class="chart-op"
              [nxTooltip]="'Tooltip.RunProcess' | translate : { name: metricsData.compliance.name }"
              (click)="onRunProcess()"
            >
              <em class="fa-solid fa-arrows-spin"></em>
            </div>
          </section>
        </section>
      </nx-expansion-panel>
    </nx-accordion>
  </article>
</div>

<article *ngIf="metricsData" class="application-coverages nx-margin-y-2xs">
  <nx-accordion>
    <nx-expansion-panel [expanded]="true">
      <nx-expansion-panel-header>
        <nx-expansion-panel-title>
          <header>
            {{ 'Label.Metrics' | translate }}
            <span class="selected-date nx-margin-left-s"
              >{{ 'Label.Coverage' | translate }}: {{ metricsData.compliance.coverage || 0 }} %</span
            >
          </header>
        </nx-expansion-panel-title>
      </nx-expansion-panel-header>
      <nx-tab-group class="tiny-tabs" [selectedIndex]="metricsData.selectedTabIndex" (selectedIndexChange)="onTabChage($event)">
        <nx-tab *ngIf="metricsData.compliance" [label]="'Label.MetricsHistoryGraphs' | translate">
          <sdc-metric-history-graphs
            [componentId]="metricsData.compliance.id"
            [selectedAnalysis]="metricsData.selectedAnalysis"
            (selectedAnalysisChange)="onMetricAnalysisSelected($event)"
          ></sdc-metric-history-graphs>
        </nx-tab>
        <nx-tab [label]="'Label.ComponentLanguageDistribution' | translate">
          <ng-container *ngIf="metricsData.languageDistribution; else noData">
            <sdc-time-evolution-multichart [data]="metricsData.languageDistribution"></sdc-time-evolution-multichart>
          </ng-container>
        </nx-tab>
      </nx-tab-group>
    </nx-expansion-panel>
  </nx-accordion>
</article>

<ng-template #metricsCards let-data>
  <header nxModalTitle>
    <em class="fa-solid fa-bars nx-margin-right-s" aria-hidden="true"></em>
    {{ 'Label.ComponentMetrics' | translate : { name: data.component.name } }}
  </header>
  <section nxModalContent>
    <sdc-metrics-cards [componentId]="data.component.id"></sdc-metrics-cards>
  </section>
  <footer nxModalActions>
    <button nxButton="small secondary" type="button" (click)="closeMetricsCards()" class="nx-margin-bottom-0 nx-margin-right-xs">
      {{ 'Label.Continue' | translate }}
    </button>
  </footer>
</ng-template>

<ng-template #noData>
  <section class="nx-margin-top-m">
    <sdc-no-data></sdc-no-data>
  </section>
</ng-template>
