<div class="card-content">
  <nx-card>
    <div class="card-header">
      <h4 nxHeadline="subsection-xsmall" class="nx-font-weight-bold">{{ title }}</h4>
      <div class="align-right">
        <nx-formfield id="data-name">
          <input #searchInput nxInput type="text" [placeholder]="'Label.Search' | translate" autocomplete="off" [(ngModel)]="filter" />
          <span nxFormfieldSuffix>
            <em class="fa-solid fa-magnifying-glass"></em>
          </span>
        </nx-formfield>
      </div>
    </div>
    <div class="coverages sdc-scrollable nx-margin-right-s nx-margin-bottom-m">
      <ng-container *ngIf="coverages">
        <div *ngFor="let coverage of coverages">
          <sdc-coverage-info
            [coverage]="coverage"
            [selectable]="selectable"
            [selected]="selected === coverage.id"
            (selectCoverage)="onClickCoverage($event)"
          ></sdc-coverage-info>
        </div>
      </ng-container>
    </div>
  </nx-card>
</div>
