@import 'colors';

.card-content {
  border-radius: 4px;
  height: 100%;
  padding: 0;
  width: -webkit-fill-available;
  width: -moz-available;

  ::ng-deep div.nx-card-inner {
    display: flex;
    flex-direction: column;
    max-height: 100%;
  }

  .card-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    ::ng-deep nx-formfield {
      .nx-formfield__wrapper {
        padding: 0;
      }
    }

    .header-left {
      flex-grow: 1;
    }
  }

  .coverages {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: -webkit-fill-available;
    width: -moz-available;

    .loading,
    .placeholder {
      height: 55px;
      width: 55px;
    }

    .loading {
      margin: 0 auto;
    }
  }
}
