@import '../../../shared/styles/colors';

.align-right {
  position: absolute;
  right: 0;
}

.card-content {
  height: 100%;
  position: relative;

  nx-card {
    border-radius: 4px;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;

    .coverages {
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 75px;
      width: inherit;
    }

    .card-header {
      align-items: center;
      display: flex;
      position: relative;

      ::ng-deep nx-formfield {
        .nx-formfield__wrapper {
          padding: 0;
        }
      }
    }
  }
}
