@import 'colors';

.card-content {
  height: 100%;
  position: relative;

  nx-card {
    border-radius: 4px;
    bottom: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;

    .coverages {
      bottom: 0;
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      top: 75px;
      width: -webkit-fill-available;
      width: -moz-available;

      .loading,
      .placeholder {
        height: 55px;
        width: 55px;
      }

      .loading {
        margin: 0 auto;
      }
    }

    .card-header {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      position: relative;

      ::ng-deep nx-formfield {
        .nx-formfield__wrapper {
          padding: 0;
        }
      }

      .header-left {
        flex-grow: 1;
      }
    }
  }
}
