@import 'core-colors';

.squad-summary {
  background-color: $background-color-2;
  border-radius: 10px;

  .summary-charts,
  .language-distribution {
    align-items: center;
    min-height: 350px;
    width: 100%;
  }

  .language-distribution {
    display: block;
    padding-top: 10px;
    position: relative;

    .toggle-chart {
      bottom: 15px;
      position: absolute;
      right: 15px;
    }
  }

  .summary-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .summary-count {
      flex: 1;
      max-width: 300px;
      min-width: 200px;
    }
  }
}
