@import 'core-colors';

.squad-summary {
  background-color: $background-color-1;

  .summary-charts,
  .language-distribution {
    align-items: center;
    display: flex;
  }

  .summary-charts {
    .summary-bar-chart {
      padding: 25px;
      width: 60%;
    }
  }
}
