@import '../../../shared/styles/colors';

.coverage-content {
  display: flex;
  align-items: center;
}

.selectable {
  padding: 2px;
}

.selectable.selected {
  border-color: $background-color-1;
  padding: 0;
  border: 2px dashed;
  border-radius: 4px;
}

.selectable:hover {
  background-color: $background-color-1;
  cursor: pointer;
}
