@import 'core-globals';

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.event-content {
  backdrop-filter: blur(5px);
  border-radius: 4px;
  box-shadow: var(--shadow-small);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 300px;
  overflow: hidden;
  transition:
    max-height 0.5s ease-out,
    opacity 0.5s ease-out;

  &.closed {
    max-height: 0;
    opacity: 0;
    pointer-events: none;

    .event-bar-items {
      overflow-y: hidden;
    }
  }

  &.open {
    max-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }

  .event-bar-options {
    backdrop-filter: blur(5px);
    background: var(--dropdown-panel-header-background-color);
    display: flex;
    margin-bottom: 8px;
    opacity: 0.9;
    padding: 8px;
    width: 100%;
    z-index: $z-index-bottom;

    .sdc-op + .sdc-op {
      margin-left: 12px;
    }

    .sdc-op {
      border-radius: 100%;
      color: var(--dropdown-panel-header-text-color);
      cursor: pointer;
      padding: 8px;
      transition:
        background-color 0.5s ease-out,
        color 0.5s ease-out;

      &:hover {
        color: var(--text-02);
        background-color: var(--dropdown-item-hover-color);
      }
    }

    .event-bar-options__left {
      flex: 1;
    }
  }

  .event-bar-items {
    align-items: end;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 8px 8px 8px;

    .event-item {
      width: 350px;
    }

    .event-item + .event-item {
      margin-top: 8px;
    }

    .placeholder {
      height: 150px;
      padding: 8px;
      width: 350px;
    }
  }
}

.reveal {
  animation: reveal linear both;
  animation-range: entry 25%;
  animation-timeline: view();
}

@keyframes reveal {
  from {
    backdrop-filter: blur(5px);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
