@import 'colors';
@import 'core-globals';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    color: $value;
  }

  .coverage-trend-background {
    &#{custom-property-color($name)} {
      background-color: $value;
    }
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

:host {
  position: relative;
}

[data-title]::before {
  right: 25px;
  position: absolute;
}

.coverage-trend,
.coverage-trend-background {
  border-radius: 100%;
  height: 22px;
  width: 22px;
}

.coverage-trend-background {
  height: 100%;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 100%;
}
