.summary-content {
  .coverages {
    display: flex;
    max-height: 300px;
    width: 100%;
  }

  .no-data-loaded {
    min-height: 700px;
  }

  .compliance-cards-header {
    align-items: center;
    display: flex;
    position: relative;

    .title {
      font-weight: bold;
    }

    nx-link {
      right: 0;
      position: absolute;
    }
  }
}

.width-0 {
  width: 0%;
}

.width-50 {
  transition: width 0.5s;
  width: 50%;
}

.width-100 {
  width: 100%;
}
