@import 'core-globals';

:host {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: $z-index-notification;
}

.message-content {
  margin-bottom: 5px;
  transition:
    display 0.7s allow-discrete,
    opacity 0.7s,
    transform 0.7s;

  nx-message {
    width: fit-content;

    .description {
      white-space: pre-line;
    }
  }

  // @howto animation - @starting-style
  @starting-style {
    opacity: 0;
    transform: scaleY(0);
  }
}
