@import 'core-globals';

:host {
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: $z-index-notification;
}

.message-content {
  margin-bottom: 5px;

  transition:
    display 0.7s allow-discrete,
    opacity 0.7s,
    transform 0.7s;

  nx-message {
    .description {
      white-space: pre-line;
    }
  }

  @starting-style {
    opacity: 0;
    transform: scaleY(0);
  }
}
