<div *ngIf="summary" id="body-content" class="summary-content nx-margin-y-2xs">
  <div class="summary nx-margin-right-3xs">
    <div class="nx-margin-bottom-2xs">
      <sdc-squad-summary [components]="summary['components']" [squad]="summary['squad']"></sdc-squad-summary>
    </div>
    <sdc-compliance-bar-cards [components]="summary['components'].slice(0, 3)"></sdc-compliance-bar-cards>
  </div>
  <div class="coverages nx-margin-left-3xs">
    <sdc-squads-coverage [squads]="summary['squads']"></sdc-squads-coverage>
  </div>
</div>
