@import 'colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    color: $value;
    background-color: $value;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

.align-right {
  position: absolute;
  right: 0;
}

.pagination {
  position: relative;

  nx-pagination {
    position: absolute;
    right: 0;
  }
}

.search-options {
  display: flex;

  #component-name {
    width: 205px;
  }

  #coverage {
    width: 205px;
  }

  #squad {
    width: 305px;
  }

  nx-formfield {
    .clear-box {
      display: none;
    }
  }

  nx-formfield:hover {
    .clear-box {
      display: block;
    }
  }
}
