<div id="body-content" class="nx-margin-y-2xs">
  <form [formGroup]="form">
    <div nxLayout="grid nogutters">
      <div nxRow class="search-options">
        <div nxCol="12">
          <div>
            <nx-formfield id="squad" [nxLabel]="'Label.Squads' | translate">
              <nx-dropdown
                autocomplete="disabled"
                formControlName="squadId"
                name="allSquads"
                [nxShowFilter]="true"
                [nxFilterPlaceholder]="'Dropdown.Filter.Squad' | translate"
                (nxValueChange)="squadChange($event)"
              >
                <nx-dropdown-item [nxValue]=""> </nx-dropdown-item>
                <nx-dropdown-item *ngFor="let item of squads" [nxValue]="item.id">
                  {{ item.name }}
                </nx-dropdown-item>
              </nx-dropdown>
            </nx-formfield>
          </div>
          <div class="align-right">
            <nx-formfield id="component-name" [nxLabel]="'Label.FindByApplicationName' | translate">
              <input #searchInput nxInput type="text" formControlName="name" autocomplete="off" />
              <span nxFormfieldSuffix>
                <nx-icon name="search" size="s"></nx-icon>
              </span>
            </nx-formfield>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div nxLayout="grid nogutters">
    <div *ngIf="applicationsInfo" nxRow>
      <div nxCol="12">
        <sdc-compliance-bar-cards
          [compliances]="applicationsInfo.compliances"
          (clickLink)="complianceClicked($event)"
        ></sdc-compliance-bar-cards>
      </div>
      <div *ngIf="applicationsInfo.paging.pages > 1" nxCol="12" class="pagination nx-margin-top-2xs">
        <nx-pagination
          [nxCount]="applicationsInfo.paging.elelments"
          [nxPage]="applicationsInfo.paging.pageIndex + 1"
          [nxPerPage]="ELEMENTS_BY_PAGE"
          (nxGoPrev)="prevPage()"
          (nxGoNext)="nextPage()"
          (nxGoPage)="goToPage($event)"
        >
        </nx-pagination>
      </div>
    </div>
  </div>
</div>
