@import 'core-colors';
@import 'core-globals';

.application-history,
.application-coverages {
  ::ng-deep {
    .nx-expansion-panel__body {
      padding: 0;
    }

    .nx-expansion-panel__header-content {
      background-color: $grey-lighter-color;
      padding: 0 15px 0 15px;
      border-top: solid 1px $grey-light-color;

      .nx-expansion-panel__header-title {
        font-size: 16px;
        font-weight: bold;
      }
    }

    nx-tab-group.tiny-tabs {
      nx-tab-header {
        background-color: $grey-lighter-color;
      }
    }
  }
}

.application-history {
  .history-component {
    display: flex;

    .application-graph {
      flex-grow: 1;
    }

    .chart-ops {
      display: flex;
      flex-direction: column;

      .sdc-op {
        margin-top: 10px;
      }
    }
  }
}

.application-coverages {
  .language-distribution {
    display: flex;

    .actual-language-distribution {
      width: 400px;
    }

    .historical-language-distribution {
      flex-grow: 1;
    }
  }
}

.selected-date {
  font-size: 12px;
  font-weight: normal;
}
