@import '../../../shared/styles/colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    .coverage {
      color: $value;
      margin-left: 10px;
    }

    &::ng-deep nx-progressbar .nx-progress__indicator::after {
      background-color: $value;
    }
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

.card-content {
  .flex-info {
    display: flex;
  }

  .position-end {
    padding: 0;
    position: absolute;
    right: 0;
  }

  nx-card {
    border-radius: 4px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    width: -webkit-fill-available;
    width: -moz-available;

    nx-badge {
      font-size: 12px;
    }

    span {
      font-size: 15px;
    }

    &.hide-border {
      border-style: none;
      padding: 0;
    }
  }
}

.colum-right {
  text-align: end;
}

.nx-grid__row {
  margin-bottom: 10px;
}
