<div class="card-content">
  <nx-card [ngClass]="{ 'hide-border': hideBorder }">
    <div nxLayout="grid nogutters" class="nx-margin-y-2xs">
      <div nxRow class="{{ coverageStyle }}">
        <div nxCol="12" class="sdc-center colum-right">
          <nx-progressbar [value]="barCoverage"></nx-progressbar>
          <span class="coverage">{{ coverage }}%</span>
        </div>
      </div>
      <div nxRow>
        <div nxCol="12" class="flex-info nx-margin-bottom-xs">
          <span class="nx-font-weight-bold">{{ compliance.name }}</span>
          <div class="position-end">
            <span class="nx-font-weight-semibold"
              >{{ 'ComplianceCard.ProcessDate' | translate }}: {{ compliance.analysisDate | date }}</span
            >
          </div>
        </div>
      </div>
      <div nxRow>
        <div nxCol="12" class="flex-info">
          <nx-badge type="active">SQUAD {{ compliance.parentName }}</nx-badge>
          <div *ngIf="showMore" class="colum-right position-end">
            <nx-link>
              <a (click)="onClick()">{{ 'Label.ShowMore' | translate }}</a>
            </nx-link>
          </div>
        </div>
      </div>
    </div>
  </nx-card>
</div>
