<nx-card [ngClass]="{ 'hide-border': hideBorder }">
  <div *ngIf="component.blocked" class="blocked"></div>
  <div class="card-content">
    <div class="{{ coverageStyle }} nx-margin-bottom-xs">
      <div class="sdc-center">
        <nx-progressbar [value]="barCoverage"></nx-progressbar>
        <span class="coverage">{{ coverage }}%</span>
      </div>
    </div>
    <div class="flex-info nx-margin-bottom-xs">
      <div class="component-name">
        <span class="nx-font-weight-bold">{{ component.name }}</span>
      </div>
      <div class="position-end">
        <span class="nx-font-weight-semibold">{{ 'ComplianceCard.ProcessDate' | translate }}: {{ component.analysisDate | date }}</span>
      </div>
    </div>
    <div class="flex-info">
      <nx-badge *ngIf="showDepartment" type="positive" vibrant (click)="onClickDepartment()">{{
        component.squad.department.name
      }}</nx-badge>
      <nx-badge *ngIf="showSquad" type="active" vibrant (click)="onClickSquad()"> {{ component.squad.name }}</nx-badge>
      <div *ngIf="showMore" class="position-end">
        <nx-link>
          <a (click)="onClickShwoMore()">{{ 'Label.ShowMore' | translate }}</a>
        </nx-link>
      </div>
    </div>
  </div>
</nx-card>
