@import 'colors';

$danger-color: var(--danger);

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    .coverage {
      color: $value;
      margin-left: 10px;
    }

    &::ng-deep nx-progressbar .nx-progress__indicator::after {
      background-color: $value;
    }
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

nx-card {
  border-radius: 4px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;

  .blocked {
    background-color: $state-critical;
    border-radius: 4px 4px 0 0;
    height: 12px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .card-content {
    .flex-info {
      display: flex;

      nx-badge {
        font-size: 12px;
      }

      nx-badge + nx-badge {
        margin-left: 10px;
      }
    }

    .position-end {
      margin-left: auto;
    }

    span {
      font-size: 15px;
    }
  }

  &.hide-border {
    border-style: none;
    border-radius: 5px;
    padding: 0;
  }
}
