@import 'colors';

$danger-color: var(--danger);

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    color: $value;

    .coverage {
      color: $value;
    }

    &::ng-deep nx-progressbar .nx-progress__indicator::after {
      background-color: $value;
    }
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

nx-card {
  border-radius: 4px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;

  .blocked {
    background-color: $state-critical;
    border-radius: 4px 4px 0 0;
    height: 12px;
    left: 0;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .card-content {
    .coverage-info .coverage {
      margin-left: 10px;
    }

    .flex-info {
      display: flex;
      align-items: center;

      nx-badge {
        cursor: pointer;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.5s ease-in-out;
      }

      nx-badge + nx-badge {
        margin-left: 10px;
      }

      nx-badge:hover {
        color: var(--badge-vibrant-color);
      }

      nx-badge[type='active']:hover {
        background-color: var(--badge-vibrant-active-background-color);
      }

      nx-badge[type='positive']:hover {
        background-color: var(--badge-vibrant-positive-background-color);
      }
    }

    .position-end {
      margin-left: auto;
    }

    span {
      font-size: 15px;
    }
  }

  &.hide-border {
    border-style: none;
    border-radius: 5px;
    padding: 0;
  }
}
