<nx-card [ngClass]="{ 'hide-border': hideBorder }">
  @if (component.blocked) {
  <div class="blocked"></div>
  }

  <div class="card-content">
    @if (coverage) {
    <div class="{{ coverageStyle }} nx-margin-bottom-xs sdc-center">
      <nx-progressbar [value]="barCoverage"></nx-progressbar>
      <span class="coverage">{{ coverage }}%</span>
    </div>
    }

    <div class="flex-info nx-margin-bottom-xs">
      <div class="component-name">
        <span class="nx-font-weight-bold">{{ component.name }}</span>
      </div>
      <div class="position-end">
        <span class="nx-font-weight-semibold">{{ 'ComplianceCard.ProcessDate' | translate }}: {{ component.analysisDate | date }}</span>
      </div>
    </div>
    <div class="flex-info">
      @if (showDepartment) {
      <nx-badge type="positive" (click)="onClickDepartment()">{{ component.squad.department.name }}</nx-badge>
      } @if (showSquad) {
      <nx-badge type="active" (click)="onClickSquad()"> {{ component.squad.name }}</nx-badge>
      } @if (showMore) {
      <div class="position-end">
        <nx-link>
          <a (click)="onClickShwoMore()">{{ 'Label.ShowMore' | translate }}</a>
        </nx-link>
      </div>
      }
    </div>
  </div>
</nx-card>
