<div class="sdc-tag__content">
  <div class="sdc-center sdc-tag__add">
    <div class="sdc-center sdc-op sdc-tag__icon--inner" (click)="focusNameInput()"><em class="fa-solid fa-tags"></em></div>
    <div class="sdc-tag__input">
      <form [formGroup]="form">
        <nx-formfield id="name">
          <input
            #nameInput
            autocomplete="off"
            nxInput
            formControlName="name"
            oninput="this.value = this.value.toLowerCase()"
            type="text"
            [maxLength]="15"
            [minlength]="3"
            [placeholder]="'Label.AddTag' | translate"
            (keydown.enter)="onAddTag()"
            (keydown.escape)="onBlurTag()"
            (keydown)="omit_special_char($event, 'name')"
          />
          <span nxFormfieldSuffix>
            <em class="fa-circle-plus fa-solid sdc-op" (click)="onAddTag()"></em>
          </span>
        </nx-formfield>
      </form>
    </div>
  </div>

  <div class="sdc-tag__list">
    @for (tag of tags; track tag.name) {
    <sdc-tag [data]="tag" [removable]="removable && !tag.analysisTag" (remove)="onRemoveTag($event)"></sdc-tag>
    }
  </div>
</div>
