@import 'core-colors';

.coverage-content {
  display: flex;
  align-items: center;

  .coverage-chart {
    height: 55px;
    width: 55px;
  }
}

.name {
  font-weight: bold !important;
}

.selectable.selected {
  background-color: $background-color-1;
  padding: 0;
  border-radius: 4px;
}

.selectable:hover {
  background-color: $background-color-1;
  cursor: pointer;
}
