@if (coverage) {
  <article class="coverage-content" [ngClass]="{ selectable: selectable, selected: selected }" (click)="onClick()">
    <div class="coverage-chart">
      <sdc-coverage-chart
        [backgroundColor]="BACKGROUND_CHART_COLOR"
        [coverage]="{ id: this.coverage.id, name: '', coverage: this.coverage.coverage }"
        [size]="55"
      />
    </div>
    <div class="coverage-text">
      <p nxCopytext="normal" class="name nx-margin-bottom-3xs">{{ coverage.name }}</p>
      <p nxCopytext="small">ID {{ coverage.id }}</p>
    </div>
    <!-- @if (!!coverage.trend) { -->
    <div class="coverage-trend nx-margin-right-2xs">
      <sdc-trend [trend]="coverage.trend!" />
    </div>
    <!-- } -->
  </article>
}
