@import 'core-colors';

.coverage-content {
  align-items: center;
  display: flex;

  .coverage-chart {
    height: 55px;
    width: 55px;
  }
}

.name {
  font-weight: bold !important;
}

.selectable {
  &.selected {
    background-color: $background-color-1;
    border-radius: 4px;
    outline-color: darken($background-color-1, 10%);
    outline-style: auto;
  }

  &:hover {
    border-radius: 4px;
    cursor: pointer;
    margin: 0px;
    outline-color: darken($background-color-1, 25%);
    outline-style: auto;
  }
}
