@import '../../../shared/styles/colors';

.departments-summary {
  align-items: center;
  background-color: $background-color-2;
  display: flex;

  .summary-bar-chart {
    padding: 25px;
    width: 60%;
  }

  .summary-pie-chart {
    width: 40%;
  }
}
