@import '../../../shared/styles/colors';

.department-summary {
  background-color: $background-color-2;
  display: flex;

  .summary-content {
    width: 100%;

    >.summary-count {
      align-items: center;
      display: grid;
      height: 100%;
    }
  }
}
