@if (metricsData && metricsData.componentAnalysis?.length) {
  <div class="evolution-content nx-margin-top-2xs">
    <div class="metrics sdc-scrollable nx-margin-right-2xs">
      @for (data of metricsData.componentAnalysis; track data.metric.id) {
        <sdc-metric-info
          [analysis]="data"
          [selected]="metricsData.selectedAnalysis?.metric?.id === data.metric.id"
          (selectMetric)="loadGraphData($event)"
        />
      }
    </div>

    @if (metricsData.selectedAnalysis) {
      <div class="evolution-graph">
        <header class="chart-header sdc-center">
          <p nxCopytext="medium">
            {{ 'Label.CurrentValue' | translate }}
            {{ metricsData.selectedAnalysis.analysisValues.metricValue }}
          </p>
          <p nxCopytext="medium">
            {{ 'Label.OptimumValue' | translate }}
            {{
              metricsData.selectedAnalysis.analysisValues.perfectValue ||
                metricsData.selectedAnalysis.analysisValues.goodValue ||
                metricsData.selectedAnalysis.analysisValues.expectedValue
            }}
          </p>
        </header>
        <div>
          <sdc-time-evolution-chart [config]="metricChartConfig" [size]="{ 'max-height': 350 }" />
          <div class="factors-selection sdc-center">
            @for (factor of availableFactorChartsKeys; track $index) {
              <div
                class="factor factor-{{ factor }} sdc-center"
                [ngClass]="{ show: availableFactorCharts[factor], fade: !availableFactorCharts[factor] }"
              >
                <label class="factor-label" for="factor-{{ $index }}">
                  {{ 'Label.Factors.' + factor | translate }}
                </label>
                <input
                  type="checkbox"
                  id="factor-{{ $index }}"
                  [checked]="metricsData.showFactorCharts && metricsData.showFactorCharts[factor]"
                  (change)="toggleFactorChart(factor)"
                  [disabled]="!availableFactorCharts[factor]"
                />
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
} @else {
  <sdc-no-data />
}
