$grey-darker-color: #414141;
$grey-dark-color: #767676;
$grey-base-color: #999999;
$grey-light-color: #d9d9d9;
$grey-lighter-color: var(--ui-02);

$primary-darker-color: #007d8c;
$primary-dark-color: #006192;
$primary-message-color: #0e6296;
$primary-base-color: #007ab3;
$primary-light-color: #b1dadd;
$primary-lighter-color: #cfe7e6;

$state-red: #d0021b;
$state-green: #7ed321;
$state-orange: #f5a623;
$state-blue: #0e6296;

$success-color: #1e8927;
$error-color: #dc3149;
$warn-color: #dc3149;

$backdrop-color: rgba(0, 0, 0, 0.35);
$backdrop-return-color: rgba(0, 122, 179, 0.5);

$background-color: white;

$background-color-1: #ebf2f6;
$background-color-2: #f2eff5;
