/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'core-colors';

body {
  height: 100vh;
  overflow-x: hidden;
  user-select: none;
}

:root {
  nx-card {
    padding: 0;

    > div.nx-card-inner {
      padding: 16px !important;
    }
  }

  nx-tab-group.tiny-tabs {
    nx-tab-header {
      justify-content: left;
      padding-left: 20px;

      .nx-tab-header__item {
        font-size: small;
        margin-top: 0;
        padding: 0;
      }
    }
  }
}

.sdc-cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sdc-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sdc-scrollable,
.sdc-scrollable-body {
  &::-webkit-scrollbar {
    width: 2px;
    background-color: $grey-lighter-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-base-color;
    border-radius: 5px;
  }
}

.sdc-scrollable-body {
  &::-webkit-scrollbar {
    width: 5px;
  }
}
