/* You can add global styles to this file, and also import other style files */
/**
  Themes
*/
@import 'themes/dark';
@import 'themes/light';

@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'core-colors';

body {
  height: 100vh;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;

  main {
    padding-bottom: 15px;
  }

  input {
    user-select: auto;
    -webkit-user-select: auto;
  }
}

:root {
  nx-card {
    padding: 0;

    > div.nx-card-inner {
      padding: 16px !important;
    }
  }

  nx-tab-group.tiny-tabs {
    nx-tab-header {
      justify-content: left;
      padding-left: 20px;

      .nx-tab-header__item {
        font-size: small;
        margin-top: 0;
        padding: 0;
      }
    }
  }
}

.sdc-op {
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: var(--link-hover-color);
    opacity: 1;
  }
}

.sdc-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sdc-cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sdc-scrollable,
.sdc-scrollable-body {
  &::-webkit-scrollbar {
    width: 2px;
    background-color: $grey-lighter-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-dark-color;
    border-radius: 5px;
  }
}

.sdc-scrollable-body {
  &::-webkit-scrollbar {
    width: 5px;
  }
}

/* animations */

/* media for reduce animations if user deactive system property */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.reveal {
  animation: reveal linear both;
  animation-timeline: view();
  animation-range: entry 5%;
}

@keyframes reveal {
  from {
    opacity: 0;
    scale: 0.5;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}
