/* You can add global styles to this file, and also import other style files */
/**
  Themes
*/
@import 'themes/dark';
@import 'themes/light';

@import '@angular/cdk/overlay-prebuilt.css';
@import '@angular/cdk/a11y-prebuilt.css';

@import 'core-colors';
@import 'core-globals';

:root {
  // color-scheme: light dark;

  input {
    user-select: auto;
    -webkit-user-select: auto;
  }

  nx-card {
    padding: 0;

    > div.nx-card-inner {
      padding: 16px !important;
    }
  }

  nx-tab-group.tiny-tabs {
    nx-tab-header {
      justify-content: left;
      padding-left: 20px;

      .nx-tab-header__item {
        font-size: small;
        margin-top: 0;
        padding: 0;
      }
    }
  }

  .nx-popover__content {
    opacity: 0.9;
    padding: 0 !important;
  }
}

.sdc-op {
  color: var(--hover-primary);
  cursor: pointer;
  opacity: 0.5;
  transition:
    opacity 0.5s ease-in-out,
    color 0.5s ease-in-out;

  &:hover {
    color: var(--active-primary);
    opacity: 1;
  }
}

.sdc-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.sdc-cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sdc-scrollable,
.sdc-scrollable-body {
  &::-webkit-scrollbar {
    background-color: $grey-lighter-color;
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey-dark-color;
    border-radius: 5px;
  }
}

.sdc-scrollable-body {
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.sdc-loading {
  background-image: url('/assets/images/loading-spinner.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.sdc-no-data {
  background-image: url('/assets/images/woman-with-sunhat.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  position: absolute;
  width: 100%;
}

[data-title]:hover::before {
  opacity: 0.8;
  visibility: visible;
}

[data-title]::before {
  content: attr(data-title);
  background-color: var(--ui-06);
  border: 1px solid var(--ui-04);
  border-radius: 15px;
  box-shadow: 1px 1px 3px var(--ui-06);
  color: var(--ui-01);
  font-size: 12px;
  opacity: 0;
  padding: 4px 10px;
  transition: all 0.5s ease 0.3s;
  visibility: hidden;
  white-space: nowrap;
  z-index: $z-index-bottom;
}

[data-title] {
  position: relative;
}

/* animations */
/* media for reduce animations if user deactive system property */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
