@import 'colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    color: $value;
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

.align-right {
  position: absolute;
  right: 0;
}

.pagination {
  align-items: center;
  bottom: 10px;
  display: flex;
  height: 25px;
  justify-content: right;
  position: sticky;

  nx-pagination {
    background-color: var(--ui-01);
    border-radius: 50px 0 0 50px;
    border-left: 1px solid var(--ui-05);
    padding: 8px;
  }
}

.search-options {
  display: flex;

  #component-name {
    width: 205px;
  }

  #coverage {
    width: 205px;
  }

  #squad {
    width: 305px;
  }
}
