@import 'colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    color: $value;
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

.pagination {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: right;
  position: sticky;

  &[data-title]::before {
    margin-right: 10px;
  }

  nx-pagination {
    background-color: var(--ui-01);
    border-radius: 50px 0 0 50px;
    border-left: 1px solid var(--ui-05);
    padding: 8px;
  }
}

.search-options {
  display: flex;
  flex-wrap: wrap;

  .search-left {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }

  #component-name {
    width: 205px;
  }

  #coverage {
    width: 205px;
  }

  #squad {
    width: 305px;
  }

  #tags {
    width: 150px;
  }
}
