<div class="nx-margin-y-2xs">
  <form [formGroup]="form">
    <div class="search-options">
      <div class="search-left">
        <nx-formfield id="squad" class="nx-margin-right-2xs" [label]="'Label.Squads' | translate">
          <nx-dropdown
            formControlName="squadId"
            name="allSquads"
            [filterPlaceholder]="'Dropdown.Filter.Squad' | translate"
            [showFilter]="true"
            (valueChange)="squadChange($event)"
          >
            <nx-dropdown-item></nx-dropdown-item>
            @for (item of squads; track item.id) {
              <nx-dropdown-item [value]="item.id">
                {{ item.name }}
              </nx-dropdown-item>
            }
          </nx-dropdown>
        </nx-formfield>
        <nx-formfield id="coverage" class="nx-margin-right-2xs" [label]="'Label.Coverage' | translate">
          <nx-dropdown
            formControlName="coverage"
            name="coverages"
            [filterPlaceholder]="'Dropdown.Filter.Coverage' | translate"
            (valueChange)="coverageChange($event)"
          >
            <nx-dropdown-item></nx-dropdown-item>
            @for (item of coverages; track item.key) {
              <nx-dropdown-item [value]="item.key">
                <em class="fa-solid fa-circle nx-margin-right-2xs {{ item.style }}"></em>
                {{ item.label | translate | titlecase }}
              </nx-dropdown-item>
            }
          </nx-dropdown>
        </nx-formfield>

        @if (tags.all.length) {
          <nx-formfield id="tags" class="nx-margin-right-2xs" [label]="'Label.Tags' | translate">
            <nx-dropdown
              formControlName="tags"
              name="tags"
              [filterPlaceholder]="'Dropdown.Filter.Tags' | translate"
              [isMultiSelect]="true"
              [showFilter]="true"
              (valueChange)="tagsChange($event)"
            >
              @if (tags.selected.length) {
                <nx-dropdown-group>
                  @for (item of tags.selected; track item.name) {
                    <nx-dropdown-item class="sdc-tag__dropdown-item" [value]="item.name">
                      <sdc-tag [data]="item"></sdc-tag>
                    </nx-dropdown-item>
                  }
                </nx-dropdown-group>
              }
              @if (tags.availables.length) {
                <nx-dropdown-group>
                  @for (item of tags.availables; track item.name) {
                    <nx-dropdown-item class="sdc-tag__dropdown-item" [value]="item.name">
                      <sdc-tag [data]="item"></sdc-tag>
                    </nx-dropdown-item>
                  }
                </nx-dropdown-group>
              }
            </nx-dropdown>
          </nx-formfield>
        }
      </div>

      <div class="search-right">
        <nx-formfield id="component-name" [label]="'Label.FindByApplicationName' | translate">
          <input #searchInput nxInput type="text" formControlName="name" autocomplete="off" />
          <span nxFormfieldSuffix>
            <em class="fa-solid fa-magnifying-glass"></em>
          </span>
        </nx-formfield>
      </div>
    </div>
  </form>

  @if (applicationsInfo) {
    <sdc-compliance-bar-cards
      [components]="applicationsInfo.components"
      (clickLink)="complianceClicked($event)"
      (clickSquad)="squadClicked($event)"
      (clickDepartment)="departmentClicked($event)"
    />

    @if (applicationsInfo.paging.pages > 1) {
      <div class="pagination" [attr.data-title]="'Label.ElementsByPage' | translate: { value: ELEMENTS_BY_PAGE }">
        <nx-pagination
          [count]="applicationsInfo.paging.elements"
          [page]="applicationsInfo.paging.pageIndex + 1"
          [perPage]="ELEMENTS_BY_PAGE"
          (goPrev)="prevPage()"
          (goNext)="nextPage()"
          (goPage)="goToPage($event)"
        />
      </div>
    }
  }
</div>
