@import 'core-colors';

.evolution-content {
  display: flex;

  .metrics {
    max-height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 270px;
  }

  .evolution-graph {
    width: 100%;

    .chart-header {
      background-color: $grey-lighter-color;
      flex-direction: column;
      padding: 8px;

      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}
