@import '../../../shared/styles/colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  #{custom-property-color($name)} {
    .coverage {
      color: $value;
    }

    &::ng-deep nx-progressbar .nx-progress__indicator::after {
      background-color: $value;
    }
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

nx-badge {
  font-size: 12px;
}

.card-content {
  border-radius: 4px;
  height: 125px;
  position: relative;
  width: -webkit-fill-available;

  span {
    font-size: 15px;
  }
}

.colum-right {
  text-align: end;
  padding-right: 20px !important;
}

.nx-grid__row {
  margin-bottom: 10px;
}
