@import '../../../shared/styles/colors';

// Defines a custom property
@mixin define-custom-property($name, $value) {
  .state-color#{custom-property-color($name)} {
    background-color: $value;
    border-radius: 50%;
  }
}

@each $name, $value in $coverage-colors {
  @include define-custom-property($name, $value);
}

.state-content {
  align-items: center;
  display: flex;

  .state-color {
    height: 25px;
    margin-right: 15px;
    width: 27px;
  }

  .state-info {
    width: -webkit-fill-available;

    .application-count {
      font-weight: bold;
      margin-top: auto;
      margin-bottom: auto;
    }

    .align-right {
      margin: 0px 0px 0px auto;
      padding-right: 16px;
    }

    .flex-row {
      display: flex;
      margin: auto 0px;
    }

    .show-more {
      nx-link {
        font-size: 12px;
      }
    }
  }
}
