<div nxLayout="grid">
  <div nxRow>
    <div nxCol="12" class="flex-row">
      <div class="state {{ styleByMetricState(stateCount.state) }}"></div>
      <div>
        <div nxLayout="grid">
          <div nxRow>
            <div nxCol="12">
              <span>{{ "Component.State." + metricConfig.style | translate}}</span>
            </div>
            <div nxCol="6" class="bold">
              <span>{{ stateCount.count }} {{ 'Label.Applications' | translate }}</span>
            </div>
            <div nxCol="6">
              <a routerLink=".">{{ 'Label.ShowMore' | translate }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
