<ng-template #alertBody>
  <div nxModalContent>
    <header>
      <h3 nxHeadline="subsection-small" class="nx-modal-margin-bottom">{{ alert?.title }}</h3>
    </header>

    <div class="nx-margin-bottom-2m">
      <p *ngFor="let description of alert?.desctiptions">
        <span nxCopytext>{{ description }}</span>
      </p>
    </div>
  </div>

  <footer nxModalActions>
    <button
      *ngFor="let button of alert?.buttons; first as isFirst; last as isLast; index as index"
      class="nx-margin-bottom-0"
      [ngClass]="{ 'nx-margin-right-m': !isLast }"
      type="button"
      nxButton="{{ button.type }} small-medium"
      (click)="actionAndClose(button.action)"
    >
      {{ button.text }}
    </button>
  </footer>
</ng-template>
