<ng-template #alertBody>
  <div nxModalContent>
    <header>
      <h3 nxHeadline="subsection-small" class="nx-modal-margin-bottom">{{ alert?.title }}</h3>
    </header>

    <div class="nx-margin-bottom-2m">
      @for (description of alert?.desctiptions; track alert?.id) {
      <p>
        <span nxCopytext>{{ description }}</span>
      </p>
      }
    </div>
  </div>

  <footer nxModalActions>
    @for (button of alert?.buttons; track button.id) {
    <button class="nx-margin-bottom-0" type="button" nxButton="{{ button.type }} small-medium" (click)="actionAndClose(button.action)">
      {{ button.text }}
    </button>
    }
  </footer>
</ng-template>
