<ng-template #alertBody>
  <div nxModalContent nxLayout="grid nogutters">
    <div nxRow>
      <div nxCol="12">
        <h3 nxHeadline="subsection-small" class="nx-modal-margin-bottom">{{ alert?.title }}</h3>
      </div>
    </div>

    <div nxRow class="nx-margin-bottom-2m">
      <div *ngFor="let description of alert?.desctiptions" nxCol="12">
        <span nxCopytext>{{ description }}</span>
      </div>
    </div>
  </div>

  <div class="footer" nxModalActions>
    <button
      *ngFor="let button of alert?.buttons; first as isFirst; last as isLast; index as index"
      class="nx-margin-bottom-0"
      [ngClass]="{ 'nx-margin-right-m': !isLast }"
      type="button"
      nxButton="{{ button.type }} small-medium"
      (click)="actionAndClose(button.action)"
    >
      {{ button.text }}
    </button>
  </div>
</ng-template>
